{% extends 'socks_shop/base_page.html' %}

{% block title %}
    asd
{% endblock %}

{% block content %}
    <h1 class="mb-5">Список товаров:</h1>
    {% for item in items %}

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ item.image.url }}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ item.name }}
                    </h5>
                    <p class="card-text">
                        {{ item.description}}
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            {{ item.available }}
                        </small></p>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
{% endblock %}
