{% extends 'socks_shop/base_page.html' %}

{% block content %}

    <div class="card" style="width: 24rem;">
        <img class="card-img-top" src={{ item_details.image.url }} alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                {{ item_details.name }}
                <p class="card-text">
                    {{ item_details.description | linebreaks }}
                </p>
            </h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                {{ item_details.price }} руб.
            </li>
            <li class="list-group-item">
                Размеры в наличии:
                <form method="GET" action="{{ stock }}">
                    {% csrf_token %}
                    <select name="stock">
                        {% for stock in stocks %}
                        <option>
                            {{ stock.size }}
                        </option>
                        {% endfor %}
                    </select>
                    <input class="btn btn-primary" type="submit" value="Добавить в корзину">
                </form>
            </li>
        </ul>
    </div>

{% endblock %}