<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'list_of_items_url' %}">Домой <span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>

        <div class="top-bl">
            <div class="container">
                <div class="cart text-white">
                    <ul class="navbar-nav mr-auto ">
                                    <li class="nav-item ">
                    <a class="nav-link" href="{% url 'basket_url' %}">Корзина</a>
                </li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>

    <section id="content row" class="container">
        {% block content %}
        {% endblock %}
    </section>

</body>
</html>